<% content_for :search_filter_bar do %>
<div class="filter-bar">
  <div class="search-fields-summary">
    <p><strong class="profession">Lawyers</strong> specializing in <strong class="specialty">Immigration</strong> in <strong class="location">New York, NY</strong></p>
  </div>
  <div class="search-fields-holder">
    <div class="profession-holder col">
      <select class="profession">
	<option>Lawyer</option>
      </select>
    </div>
    <div class="specialty-holder col">
      <span class="label">specializing in</span>
      <div class="select-holder">
	<select class="specialty">
	  <option>Immigration</option>
	</select>
      </div>
    </div>
    <div class="location-holder col">
      <span class="label">in</span>
      <div class="input-holder">
	<input type="text" value="New York, NY">
      </div>
    </div>
  </div>
  <a href="#" class="more-filters" >More filters</a>
  <div class="clearfix"></div>
  <div class="filter-menu">
    <section class="rating">
      <h4>Minimum rating</h4>
      <div id="raty"></div>
    </section>
    <section>
      <a href="#" class="submit btn-blue">Submit</a>
    </section>
  </div>
</div>
<% end %>

</div>

<div class="view-toggle-bar">
  <div class="inner">
    <span>View as:</span>
    <div class="tabs">
      <a href="#" class="list-view active">List</a><a href="#" class="map-view">Map</a>
    </div>
  </div>
</div>

<div class="results">
  <ol>
    <%= render :partial => "search/result", collection: @results %>
  </ol>
</div>

<div class="map-holder">
  <div class="redo-search">
    <!-- <input type="checkbox" checked="checked"><span>Redo search when map moves</span> -->
    <input type="checkbox" id="c1" name="cc" checked="checked" />
    <label for="c1"><span></span>Redo search when map moves</label>
  </div>
  <iframe width='100%' height='100%' frameBorder='0' src='http://a.tiles.mapbox.com/v3/laroccaf.map-wn6a8o0o.html#13/40.741924698522055/-73.98347854614256'></iframe>
</div>

<div class="main-container">
  
  <div class="clearfix"></div>
  
  
  
</div> <!-- #main-container -->
