<% content_for :search_filter_bar do %>
  <div class="filter-bar" ng-controller="SearchFilterBarController">
    <div class="search-fields-holder">
      <div class="profession-holder col">
	<select class="profession" ng-name="current_profession" ng-model="current_profession" ng-change="change_profession(opt)" ng-options="profession.name for profession in professions">
	</select>
      </div>
      <div class="specialty-holder col">
	<span class="label">specializing in</span>
	<div class="select-holder">
	  <select class="speciality" ng-name="current_speciality" ng-model="current_speciality" ng-change="change_speciality(opt)" ng-options="speciality.name for speciality in specialities">
	  </select>
	</div>
      </div>
      <div class="location-holder col">
	<span class="label">in</span>
	<div class="input-holder">
	  <input ng-name="current_city" ng-model="current_city" ng-change="change_city(opt)" type="text">
	</div>
      </div>
    </div>
    <a href="#" class="more-filters" >More filters</a>
    <div class="clearfix"></div>
    <div class="filter-menu">
      <section class="rating">
	<h4>Minimum rating</h4>
	<div id="raty"></div>
      </section>
      <section>
	<a href="#" class="submit btn-blue">Submit</a>
      </section>
    </div>
  </div>
<% end %>

<div class="results" ng-controller="SearchListController">
  <ol>
    <li ng-repeat="result in results">
      <img ng-src="{{result.avatar_url}}" height="100" width="100">
      <div class="col">
	<b class="rank"> {{result.rank}}</b>
	<h2><a href="{{result.profile_url}}">{{result.fullname}}</a></h2>
	<p class="specialty">{{result.speciality}}</p>
	<p class="company">{{result.company_name}}</p>
	<div class="rating stars-{{result.average_rating}}"></div><span class="num-ratings">({{result.num_reviews}})</span>
      </div>
      <div class="clearfix"></div>
    </li>
  </ol>
</div>

<div class="map-holder">
  <div class="redo-search">
    <!-- <input type="checkbox" checked="checked"><span>Redo search when map moves</span> -->
    <input type="checkbox" id="c1" name="cc" checked="checked" />
    <label for="c1"><span></span>Redo search when map moves</label>
  </div>
  <iframe width='100%' height='100%' frameBorder='0' src='http://a.tiles.mapbox.com/v3/laroccaf.map-wn6a8o0o.html#13/40.741924698522055/-73.98347854614256'></iframe>
</div>

<div class="main-container">
  
  <div class="clearfix"></div>
  
  
  
</div> <!-- #main-container -->
