<% content_for :search_filter_bar do %>
<div class="filter-bar">
  <div class="search-fields-summary">
    <p><strong class="profession">Lawyers</strong> specializing in <strong class="specialty">Immigration</strong> in <strong class="location">New York, NY</strong></p>
  </div>
  <div class="search-fields-holder">
    <div class="profession-holder col">
      <%= select_tag "profession", options_from_collection_for_select(@professions, "name", "name", @selected_profession.id) %>
    </div>
    <div class="specialty-holder col">
      <span class="label">specializing in</span>
      <div class="select-holder">
	<%= select_tag "speciality", options_from_collection_for_select(@specialities, "name", "name", @selected_speciality.id) %>
      </div>
    </div>
    <div class="location-holder col">
      <span class="label">in</span>
      <div class="input-holder">
	<input type="text" name="city" value="New York">
      </div>
    </div>
  </div>
  <a href="#" class="more-filters" >More filters</a>
  <div class="clearfix"></div>
  <div class="filter-menu">
    <section class="rating">
      <h4>Minimum rating</h4>
      <div id="raty"></div>
    </section>
    <section>
      <a href="#" class="submit btn-blue">Submit</a>
    </section>
  </div>
</div>
<% end %>

</div>

<%= template_include_tag "search_result.mustache" %>
<div class="results">
  <ol>
  </ol>
</div>

<script type="text/javascript"
	src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.config.gmaps_key%>">
</script>

<div class="map-holder">
  <div class="redo-search">
    <input type="checkbox" id="c1" name="cc" checked="checked" />
    <label for="c1"><span></span>Redo search when map moves</label>
  </div>
  <div id="search-map"></div>
</div>

<div class="main-container">
  
  <div class="clearfix"></div>
  
  
  
</div> <!-- #main-container -->
