<% content_for :register_breadcrumbs do %>
<%= render :partial => "register/breadcrumbs", :locals => {step_no: 1} %>
<% end %>

<form action="/register" id="register_step1" method="post" class="register_form">
  <section>
    <h2>Account information</h2>
    <fieldset>
      <div class="col1">
	<legend>Email*</legend>
	<input name="email" type="text">

	<legend>First name*</legend>
	<input name="firstname" type="text">

	<legend>Last name*</legend>
	<input name="lastname" type="text">

	<legend>Password*</legend>
	<input name="password" type="text">
	<div class="error"><span>This is a sample error</span></div>

	<legend>Confirm password*</legend>
	<input name="confirm_password" type="text">

      </div>
      <div class="col2 profile-photo">
	<legend>Profile photo</legend>
	<div id="photo-drop-zone" class="photo place-holder">
	  <p>Drag image here<br>or</p>
	  <!-- <a href="#" class="btn-white-grad">Choose image</a> -->
	  <input type="file" id="files" accept="image/*" name="files[]" />
	</div>
	<p id="status"></p>
      </div>
      
    </fieldset>
  </section>
  
  <section>
    <h2>Billing information</h2>
    <fieldset>
      <div>
	<legend>Credit card type*</legend>
	<div class="cc-type">
	  <input type="radio" name="cc-group" value="Amex"><div class="card-image amex"><b>Amex</b></div>
	  <input type="radio" name="cc-group" value="Mastercard"><div class="card-image mastercard"><b>Mastercard</b></div>
	  <input type="radio" name="cc-group" value="Visa"><div class="card-image visa"><b>Visa</b></div>
	  <input type="radio" name="cc-group" value="Visa"><div class="card-image discover"><b>Discover</b></div>
	</div>
	
	<div class="col">
	  <legend>Credit card number*</legend>
	  <input type="text" class="cc-number">
	</div>
	<div class="col">
	  <legend>CCV*</legend>
	  <input type="text" class="ccv">
	  <div class="ccv-image card-image"></div>
	</div>
	
	<div class="col clearfix">
	  <legend>Expiration*</legend>
	  <input type="text" placeholder="MM" class="cc-month"> / <input type="text" placeholder="YYYY" class="cc-year">
	</div>
	<div class="col">
	  <legend>Billing zipcode*</legend>
	  <input type="text" class="cc-zip">
	</div>
      </div>
      
    </fieldset>
    <div class="promo">
      <h3>Sign up now&mdash;the first X months are free!</h3>
      <p>Your card won't be charged until the end of the intro period. If you choose to cancel before then, you won't be charged anything.</p>
      
    </div>
  </section>
  
  <footer>
    <a href="#" class="submit btn-blue">Next</a>	
    <div class="clearfix"></div>
  </footer>
</form>

<% content_for :register_photo do %>
<div id="crop-photo-holder" class="modal-window-holder">
  <div class="window">
    <header>
      <h3>Crop photo</h3>
      <a href="#" class="close"></a>
      <div class="clearfix"></div>
    </header>
    
    <section class="cropper">
      
    </section>
    
    <section>
          <a href="#" class="submit btn-blue">Done</a>
    </section>
    
  </div>
  <div class="bg"></div>
</div>
<% end %>