<section>
  <p><strong><%= education.institution %></strong><br><%= education.qualification %><br><span class="date"><%=year_range(education) %></span></p>
  <p><%=education.description%></p>
</section>
