<div class="footer-container">
  <footer class="wrapper">
    <ul class="col1">
      <li><a href="#">How it works</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">List your business</a></li>
    </ul>
    <ul class="col2">
      <li><a href="#">Terms of use</a></li>
      <li><a href="#">Privacy policy</a></li>
    </ul>
    <div class="clearfix"></div>
  </footer>
</div>
