<div class="header-container">
  <header class="wrapper clearfix">
    <a href="/" class="site-logo"><b>Propeek</b></a>
    <nav>
      <ul>
        <li><a href="#how-works">How it works</a></li>
      </ul>
    </nav>
    <div class="profile-link">
      <%= link_to :Login, login_url%>
      <b>or</b> 
      <%= link_to :Join, register_url, class: :join %>
    </div>
    <div class="clearfix"></div>    
  </header>  
</div>