<div class="header-container">
  <header class="wrapper clearfix">
    <a href="/" class="site-logo"><b>Propeek</b></a>
    <nav>
      <ul>
        <li><a href="#how-works">How it works</a></li>
      </ul>
    </nav>
    <div class="profile-link">
      <a href="/login.html">Login</a> <b>or</b> <a href="/register1.html" class="join">Join</a>
    </div>
    <div class="clearfix"></div>    
  </header>  
</div>